{% extends "app/layout.html" %}

{% block content %}

<title>About Roland's Landscaping</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/concrete.css' %}" />

<div class="banner" id="servicebanner">
    <div class="container">
        <div class="head-text d-flex align-items-center text-center justify-content-center">
            <h1 class="pageheading">Concrete &#38; Masonry Services</h1>
        </div>
    </div>
</div>

<section class="service-description">
    <div class="container body-content">
        <p>
            Are you looking to add a new patio on your property? Or maybe you want a firepit to gather around with your friends and family during the 
            winter! To have such additions to your property you need to hire a landscaper who has an eye for a beautiful landscape and has experience 
            doing concrete and masonry work. 
        </p>
        <p>
            Concrete is an ideal product for surface because concrete resists pressure from the water and the outside soil. It is one of the 
            strongest construction materials available meaning it is durable and will last for years to come. A benefit of using concrete is that 
            concrete formations can be shaped in various shapes and sizes. Brick, Stone, and concrete blocks are masonry products that are used in 
            landscaping projects. Masonry is an important material for landscaping due to masonry products providing aesthetics, are non-combustible 
            and require little maintenance. firepits, flowerbeds and fountains are all used in landscaping projects. 
        </p>
    </div>
</section>

<section class="service-list">
    <div class="container body-content">
        <h2>Our Concrete &#38; Masonry Services</h2>
        <ul class="list-group">
            <li class="list-group-item">Firepits</li>
            <li class="list-group-item">Flower Beds</li>
            <li class="list-group-item">Patios</li>
            <li class="list-group-item">Sidewalks</li>
        </ul>
    </div>
</section>

<section class="service-card">
    <div class="container body-content">

    </div>
</section>


{% endblock %}