{% extends "app/layout.html" %}

{% block content %}

{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static 'app/content/gallery.css' %}" />

<div class="banner" id="pagebanner">
    <div class="container">
        <!--h1 class="text-center">Image Gallery</!h1-->
        <h1 class="pageheading">See Images of Roland's Landscaping Work</h1>
    </div>
</div>

    <section class="image-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery1.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery1.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery2.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery2.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery3.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery3.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery4.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery4.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery5.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery5.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery6.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery6.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery7.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery7.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery8.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery8.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery9.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery9.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
            </div>
            <!--div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery10.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery10.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery11.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery11.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery12.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery12.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
            </!--div>
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery13.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery13.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery14.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery14.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery15.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery15.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery16.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery16.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery17.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery17.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery18.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery18.jpg" class="gallery-image" alt="Roland's Landscaping">
                    </a>
                </div>
            </!-div-->



        </div>
            

         
    </section>
        


{% endblock %}