{% extends "app/layout.html" %}

{% block content %}

<title>About Roland's Landscaping</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/zeroscaping.css' %}" />

<div class="banner" id="servicebanner">
    <div class="container">
        <div class="head-text d-flex align-items-center text-center justify-content-center">
            <h1 class="pageheading">Zerocaping Services</h1>
        </div>
    </div>
</div>

<section class="service-description">
    <div class="container body-content">

    </div>
</section>

<section class="service-list">
    <div class="container body-content">

    </div>
</section>

<section class="service-card">
    <div class="container body-content">

    </div>
</section>


{% endblock %}